{{#if editing}}
  {{#if saving}}
    <a class="edit button">Saving...</a>
  {{else}}
    <a class="edit button" {{action 'save'}}>Save</a>
  {{/if}}
  <a class="edit button cancel" {{action 'cancel'}}>Cancel</a>
{{else}}
  <a class="edit button" {{action 'edit'}}>Edit</a>
{{/if}}

{{#if title}}
  <h1>{{title}}</h1>
{{else}}
  <h1>{{model.filename}}</h1>
{{/if}}

{{#if editing}}
  {{textarea value=model.content class="editor"}}
{{else}}
  {{{html}}}
{{/if}}
