<div>
  <p class="actions">
  {{#if editing}}
    {{#if saving}}
      <a class="edit button">Saving...</a>
    {{else}}
      <a class="edit button" {{action 'save'}}>Save</a>
    {{/if}}
    <a class="edit button cancel" {{action 'cancel'}}>Cancel</a>
  {{else}}
    <a class="edit button" {{action 'edit'}}>Edit</a>
  {{/if}}
  </p>

  <h1>
  {{#if title}}
    {{title}}
  {{else}}
    {{#if model.filename}}
      {{model.filename}}
    {{else}}
      Edit this file
    {{/if}}
  {{/if}}
  </h1>
</div>

{{#if editing}}
  {{ace-editor content=body action='save'}}
{{else}}
  {{{html}}}
{{/if}}
