{{#if editing}}
  <h1>Editing {{model.filename}}  <a class="button" {{action 'save'}}>Save</a></h1>
{{else}}
  <h1>File {{model.filename}} <a class="button" {{action 'edit'}}>Edit</a></h1>
{{/if}}

{{#if editing}}
  {{textarea value=model.content class="editor"}}
{{else}}
  <div>{{{html}}}</div>
{{/if}}

