{{#if editing}}
  <h1>Editing {{model.filename}}  <a class="button" {{action 'save'}}>Save</a></h1>
{{else}}
  <h1>File {{model.filename}} <a class="button" {{action 'edit'}}>Edit</a></h1>
{{/if}}

<div class="editable">{{model.content}}</div>
