<div>
  <p class="actions">
    {{#if isNew}}
      {{#if saving}}
        <a class="edit button">Saving...</a>
      {{else}}
        <a class="edit button" {{action 'saveNew'}}>Save</a>
      {{/if}}
    {{else}}
      {{#if editing}}
        {{#if saving}}
          <a class="edit button">Saving...</a>
        {{else}}
          <a class="edit button" {{action 'save'}}>Save</a>
        {{/if}}
        <a class="edit button cancel" {{action 'cancel'}}>Cancel</a>
      {{else}}
        <a class="edit button" {{action 'edit'}}>Edit</a>
      {{/if}}
    {{/if}}
  </p>

  {{#if isNew}}
    <h1>{{input type='text' value=title required="required"}}</h1>
  {{else}}
    <h1>
    {{#if title}}
      {{title}}
    {{else}}
      {{#if model.filename}}
        {{model.filename}}
      {{else}}
        Edit this file
      {{/if}}
    {{/if}}
    </h1>
  {{/if}}
</div>

{{#if isNew}}
  {{ace-editor content=body action='saveNew'}}
{{else if editing}}
  {{!-- {{ace-editor content=body action='save'}} --}}
  {{medium-content-editable value=body options=mediumEditorOptions}}
{{else}}
  {{{html}}}
{{/if}}
